<%= form_for @activity, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation" >
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label "主題", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subject, :class => 'text_field span6' %>
    </div>
  </div>

   <div class="control-group">
    <%= f.label "網址", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :hyperlink, :class => 'text_field span10' %>
    </div>
  </div>

  <% if @mode==:new %>

    <div class="control-group">
      <%= f.label "封面", :class => 'control-label' %>
      <div class="controls">
        <%= f.radio_button :album ,"boy", :class => 'radio_button' %>男生 | 
        <%= f.radio_button :album ,"girl", :class => 'radio_button' %>女生
      </div>
    </div>

<% end %>

<% if @mode==:edit %>

  <div class="control-group">
    <%= f.label "結束", :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :is_over, :class => 'check_box' %>
    </div>
  </div>
<% end %>

  <div class="form-actions">
    <%= f.submit "送出", :class => 'btn btn-primary' %>
  </div>
<% end %>
